@import "tailwindcss";

html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: #1e3d2e;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}