@import "tailwindcss";

html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: #1e3d2e;
}

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full backdrop-blur-sm bg-white/30 transition-all duration-300;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/60 w-4 backdrop-blur-xl;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.3) transparent;
  }
}